.container {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.taskListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
