.formContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.priorityAndEffortWrapper {
  display: flex;
  gap: 1rem;
}

.formActionsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
